# Default ignored files
/shelf/
/workspace.xml
# Thư mục build
/build/
/app/build/

# File hệ thống của Android Studio
.idea/
*.iml
*.ipr
*.iws

# File hệ thống của macOS hoặc Windows
.DS_Store
Thumbs.db

# Thư viện cài bằng Gradle
.gradle/
*/.gradle/

# Các file log, tạm thời
*.log
*.tmp

# Tệp cấu hình cá nhân
local.properties

# Tệp môi trường (nếu có dùng)
.env

# Thư mục của test coverage
coverage/

# Thư mục chứa font đã generate
/caches/

