.gradle/
build/
app/build/
*/build/

/.idea/
*.iml

local.properties

.DS_Store
Thumbs.db

*.apk
*.ap_

*.log

.idea/caches/
.idea/workspace.xml

*.lock
*.bin
*.class
*.jar
*.war
*.dex

/app/google-services.json
