# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

src/main/resources/firebase/modis-admin-keys.json

.idea/
/Locket/.idea/misc.xml
/Locket/.idea/caches
/.idea/
.idea/*